<div ng-controller="messageController as message">
    <!-- Modal Structure -->
    <div id="" class="messageall">
        <div class="messageTextArea">
        </div>
        <div class="">
            <!-- message tab -->
            <div style="padding-top: 1px;">
                <div ng-repeat="message in message.messages | orderBy:'-time'">
                    <div ng-if="message.kind === 'message'">
                        <div ng-if="yourId === message.key">
                            <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                                
                                <div class="messagelist toast-your">
                                    <div class="toast-yourname">{{message.name}}</div>
                                    <div class="toast-message">{{message.message}}</div>
                                </div>
                                <span class ="yourspan">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                            </div>
                        </div>
                        <div ng-if="yourId !== message.key">
                            <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                                <div class="messagelist toast-info">
                                    <div class="toast-name">{{message.name}}</div>
                                      <div class="toast-message">{{message.message}}</div>
                                  </div>
                                  <span class ="span">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="message.kind === 'attend' || message.kind == 'meetup'">
                        <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                            <div class="messagelist toast-success">
                                <div class="toast-message">{{message.message}}</div>
                            </div>
                            <span class ="span">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                        </div>
                    </div>
                    <div ng-if="message.kind === 'meetupremove'">
                        <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                            <div class="messagelist toast-error">
                                <div class="toast-message">{{message.message}}</div>
                            </div>
                            <span class ="span">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                        </div>
                    </div>
                    <div ng-if="message.kind === 'meetupchange'">
                        <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                            <div class="messagelist toast-change">
                                <div class="toast-message">{{message.message}}</div>
                            </div>
                            <span class ="span">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure end -->
</div>
