<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author"      content="Daichi Miyajima">
        <meta property="og:title" content="Where are you?" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://bruwbird.com" />
        <meta property="og:image" content="https://bruwbird.com/public/img/initial/Where_are_you--logo.png" />
        <meta property="og:site_name" content="bruwbird.com" />
        <meta property="og:description" content="Share your location with your friends. " />
        <title>Guide</title>
        <link rel="canonical" href="http://guide.com" />
        <link rel="shortcut icon" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <!-- firebase url -->
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/initial/initial.css">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-80242586-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    
    <body>
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper white ">
                        <a class="grey-text groupname">Where are you?</a>
                        <a data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
                        <ul class="side-nav" id="mobile-demo">
                            <li>
                                <div class="menuContent">
                                    <!-- Place this tag where you want the button to render. -->
                                    <a class="github-button" href="https://github.com/DaichiMiyajima/candy_guide_web" data-icon="octicon-star" data-style="mega" data-count-href="/DaichiMiyajima/candy_guide_web/stargazers" data-count-api="/repos/DaichiMiyajima/candy_guide_web#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star DaichiMiyajima/candy_guide_web on GitHub">Star
                                    </a>
                                    <!-- Place this tag in your head or just before your close body tag. -->
                                    <script async defer src="https://buttons.github.io/buttons.js">
                                    </script>
                                </div>
                            </li>
                            <li>
                                <div class="menuContent">
                                    <a style="vertical-align:middle;" href="https://twitter.com/share" class="twitter-share-button" data-url="https://bruwbird.com" data-text="Share your location!" data-size="large">Tweet
                                    </a>
                                    <script>
                                    !function(d,s,id){
                                        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                                        if(!d.getElementById(id)){js=d.createElement(s);
                                            js.id=id;
                                            js.src=p+'://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js,fjs);
                                        }
                                     }(document, 'script', 'twitter-wjs');
                                    </script>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div style="text-align:center; margin-top:80px; background-color:rgba(209, 209, 209, 0.31); ">
                <img src="../public/img/initial/Where_are_you--logo.png">
            </div>
        </main>
        <footer class="page-footer white" style="background-color:rgba(209, 209, 209, 0.31);">
            <div class="container" style="width:90%;">
                <div class="input-field col s6">
                    <input id="groupname" type="text" class="validate">
                    <label for="groupnamee">Group Name</label>
                </div>
                <div style="text-align:right; margin-bottom: 20px;">
                    <a class="waves-effect waves-light btn blue darken-2" id="create_url" style=""><i class="material-icons right">send</i>Get Started</a>
                </div>
            </div>
        </footer>
    <script type="text/javascript" src="js/initial/initial.js"></script>
    </body>
</html>