<!DOCTYPE html>
<html lang="en" ng-app="mapper">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author"      content="Daichi Miyajima">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <title>Guide</title>
    <link rel="canonical" href="http://guide.com" />
    <link rel="shortcut icon" href="">
    <!-- firebase url -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <!-- GeoFire -->
    <script src="https://cdn.firebase.com/libs/geofire/4.1.1/geofire.min.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../public/css/index.css">
    <!-- sweet alert-->
    <script src="../public/ext/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/ext/sweetalert/sweetalert.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
</head>
<body class="">
    <div ng-controller="candyController">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <!-- Modal Structure -->
            <div id="modal1" class="modal bottom-sheet">
                <div class="messageTextArea">
                    <!-- text-area -->
                    <div input-field id="messageInputField">
                        <textarea ng-model="messageInput" class="input materialize-textarea" placeholder="message"></textarea>
                    </div>
                    <a class="btn-floating red" id="sendButton"><i class="small material-icons" ng-click="sendMessage(messageInput)">send</i></a>
                </div>
                <div class="modal-content modalMessage">
                    <!-- message tab -->
                    <div style="padding-top: 1px;">
                        <div ng-repeat="message in messages | orderBy:'-time'">
                            <div ng-if="message.kind === 'message'">
                                  <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                                    <div class="messagelist toast-info">
                                        <div class="toast-name">{{message.name}}</div>
                                        <div class="toast-message">{{message.message}}</div>
                                    </div>
                                    <span style="color: black;">{{ message.time | date:'MM/dd hh:mm' : timezone}}</span>
                                </div>
                            </div>
                            <div ng-if="message.kind === 'attend' || message.kind == 'meetup'">
                                <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                                    <div class="messagelist toast-success">
                                        <div class="toast-message">{{message.message}}</div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="message.kind === 'meetupremove'">
                                <div id="toast-container-chat" class="toast-top-right" aria-live="polite" role="alert" style="position: initial !important;margin: 5px 5px 5px 5px;">
                                    <div class="messagelist toast-error">
                                        <div class="toast-message">{{message.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">swap_vert</i></a>
                </div>
            </div>
            <!-- Modal Structure end -->
            
            <!-- Place Search -->
            <div id="modal2" class="modal bottom-sheet">
                <div class="searchPlaceTextArea">
                    <div id="searchPlaceInputField">
                        <input class="input" placeholder="Search Place" type="text" id="search_place" ng-keyup="searchPlace(text)" ng-model="text">
                    </div>
                </div>
                <div class="modal-content modalPlace">
                    <div>
                        <ul class="collapsible popout" data-collapsible="accordion" watch>
                            <li ng-repeat="place in places">
                                <div class="collapsible-header">
                                    <img id="placeIcon" src={{place.icon}} style=""></img>
                                    {{place.name}}
                                    
                                </div>
                                <div class="collapsible-body">
                                    {{place.formatted_address}}
                                    <ul class="placeUl">
                                        <li class="placeIconAcordion"><a class="btn-floating red"><i class="large material-icons">my_location</i></a></li>
                                        <li class="placeIconAcordion"><a class="btn-floating green" ng-click="makeMeetUpMarker(place)"><i class="large material-icons">location_on</i></a></li>
                                    </ul>
                                </div>
                            </li>
                        <ul>
                    </div>
                </div>
            </div>
            <!-- Place Search end -->

            <!-- Select Way of TravelMode -->
            <div id="travelModeModal" class="modal">
                <div class="modal-content">
                    <h4>You choose travelMode</h4>
                    <ul>
                        <li><a class="btn-floating green" ng-click="direction_car()"><img src="../public/img/car.png"></a></li>
                        <li><a class="btn-floating blue" ng-click="direction_walk()"><img src="../public/img/walk.png"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Select Way of TravelMode end-->

            <!-- NavBar -->
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="groupname brand-logo center"></a>
                </div>
            </nav>
            <!-- NavBar end -->

            <!-- Geolocation OFF -->
            <div id="geolocationOff" class="firsthide">
                <label>Your location services are unavailable.</label><br/>
                <label>Settings → Privacy → Location Service → Safari WebSites</label>
            </div>
            <!-- Geolocation OFF end-->

            <!-- DirectionTime -->
            <div id="directionTime" class="firsthide">
                <div class="direction">
                    <div id="direction_distance" class="matrix"></div>
                    <div id="direction_duration" class="matrix"></div>
                </div>
                <a class="btn-floating" ng-click="directionDone()"><i class="small material-icons">done</i></a>
            </div>
            <!-- DirectionTime end-->
            
            <!-- Google Map -->
            <div class="mdl-tabs__panel is-active" id="candy_map_tab">
                <section class="container-full">
                    <div id="map"></div>
                </section>
            </div>
            <!-- Google Map end-->
            <div class="fixed-action-btn horizontal click-to-toggle firsthide_lastshow" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating red" id="currentposition"><i class="large material-icons">my_location</i></a></li>
                    <li><a class="btn-floating green" id="addlocationbutton" ng-click="addlocationbutton()"><i class="large material-icons">location_on</i></a></li>
                    <li><a class="btn-floating yellow" id="direction" ng-click="direction()"><i class="large material-icons">navigation</i></a></li>
                    <li><a class="btn-floating blue" id="messagelist"><i class="large material-icons">comment</i></a></li>
                    <li><a class="btn-floating pink" id="serchplacebutton"><i class="large material-icons">search</i></a></li>
                    <li><a class="btn-floating amber" id=""><i class="large material-icons">perm_identity</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO32axBK69PMVZMgs_oPjKMltoQa4pKI4&libraries=geometry,places"></script>
    <script src="../public/js/globalvariable.js"></script>
    <script src="../public/js/firebaseService.js"></script>
    <script src="../public/js/controll.js"></script>
    <script src="../public/js/firebase.js"></script>
    <script src="../public/js/googlemap.js"></script>
    <script src="../public/js/screenevent.js"></script>
    <script src="../public/js/popup.js"></script>
    
    <script>$('.collapsible').collapsible();</script>

</body>
</html>