<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author"      content="Daichi Miyajima">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <title>Guide</title>
    <link rel="canonical" href="http://guide.com" />
    <link rel="shortcut icon" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- firebase url -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/initial.css">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <!-- move to initial.js? -->
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible({
                accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
        });
    </script>
    
</head>
<body>
    <!--
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"></h2>
            <img class="img-responsive" src="../public/img/Where_are_you--logo.png">
        </div>
        <div class="mdl-card__supporting-text card_title">
            Inspired by Candy
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="groupname" class="mdl-textfield__input" type="text" id="sample3" maxlength="10">
                <label class="mdl-textfield__label" for="sample3">Group Name...</label>
            </div>
            <button id="create_url" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Get Started
            </button>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
    -->
    <div class="row" id="title">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../public/img/Where_are_you--logo.png">
                </div>
                <div class="card-action">
                    <div class="input-field col s6">
                        <input id="groupname" type="text" class="validate" maxlength="10">
                        <label for="groupname">Group Name...</label>
                    </div>
                    <button id="create_url" class="btn waves-effect waves-light">
                        <i class="material-icons right">send</i>
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="explanation">
    <div class="col s12 m6">
    <div class="card">
        <div class="card-content black-text">
            <span class="card-title">How to use</span>
        </div>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">info_outline</i>Make a group room</div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="card-image">
                        <img src="../public/img/exp_map_1.PNG">
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Choice meeting place</div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="card-image">
                        <img src="../public/img/exp_map_2.PNG">
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Meet your friends!</div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="card-image">
                        <img src="../public/img/exp_map_3.PNG">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    </div>
        
    <script type="text/javascript" src="js/initial.js"></script>
</body>
</html>