body {
    margin: 0;
    width: 100%;
    height:100%;
    text-align: left;
    position: fixed;
    overflow: hidden;
}
/* title */
.title{
    position: absolute;
    margin-top: 15px;
    left: 5px;
    z-index: 10;
}
.title span, span:after {
    font-weight: 900;
    color: rgb(66,66,66);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

.title span {
    font-size: 1.3em;
    text-shadow: .04em .04em 0 #9cb8b3;
    font-family: fantasy;
}

span:after {
    content: attr(data-shadow-text);
    color: rgb(83,109,254);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
}

/* user tab-start */
#userbox_all{
        width: 100%;
        height:100%;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.35);
}

.userbox{
    position: absolute !important;
    margin-top: 15px;
    right: 55px;
    z-index: 10;
}

#userbox_slide{
    position: absolute;
    right: 0px;
    background: rgba(2, 2, 2, 0.75);
    width: 50%;
    height: 50%;
    z-index: 100;
    color: rgb(96, 125, 139);
    overflow: auto;
    border-style: inset;
    border-color: black;
}

#userbox_overlay{
    left: 0;
    width: 60%;
    height: 100%;
    position: fixed;
}
/* user tab-end */




/* message tab-start */
#messagebox_all{
        width: 100%;
        height:100%;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.35);
}

.messagebox{
    position: absolute !important;
    margin-top: 15px;
    right: 5px;
    z-index: 10;
}

#messagebox_slide{
    position: absolute;
    right: 0px;
    background: rgba(2, 2, 2, 0.75);
    width: 50%;
    height: 50%;
    z-index: 100;
    color: rgb(96, 125, 139);
    overflow: auto;
    border-style: inset;
    border-color: black;
}

#messagebox_overlay{
    left: 0;
    width: 60%;
    height: 100%;
    position: fixed;
}

#toast-container-chat > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 0px;
    padding: 15px 15px 15px 50px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
    padding: 5px 5px 5px 15px;
}

#toast-container-chat * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container-chat span {
    float: right;
    font-size: 10px;
    color: white;
    font-family: fantasy;
}
/* message tab-end */






/*PlaceSearch-start */
#placeSearch{
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #FFFFFF;
    overflow: scroll;
}

.repeat_places{
    margin-top: 65px;
}

.card-square{
    margin: 5px auto;
    min-height: 150px !important;
}
.mdl-card__title{
    padding : 0 !important;
    margin : 0 auto;
    
}

/* PlaceSearch-end */



#currentposition{
    margin-top: -160px;
    position: fixed;
    right: 15px;"
}

#messagebutton{
    margin-top: -90px;
    position: fixed;
    right: 15px;"
}
#addlocationbutton{
    margin-top: -230px;
    position: fixed;
    right: 15px;"
}
/* candy_map_tab */
#google map
.container-full {
    margin: 0 auto; width: 100%; height:100%;
}

#map {
    margin-top: 1.5px;
    width:100%; height:93vh;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, #map {
        width:100%; height:83vh;
    }
}


#Marker
img[src*="test"]{
    padding: 1px;
    border: 1px solid #999;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


#ul_attend{
  text-align: center;
}
#ul_attend li{
  display: inline-block;
}

/* common css */
#toast-container{
    top : 7vh !important;
}

