body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
.card_title{
     text-align: right;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 600px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 600px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 75%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 601px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 601px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 45%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 35%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  text-align: center;
  margin : 0 auto;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#title {
    margin-top : 50px;
	//margin-bottom : 50px;
	margin-right : auto;
	margin-left : auto;
    width : 85%;
	float : none;

}
<--
#explanation {
    margin-top : 50px;
	margin-bottom : 50px;
	margin-right : auto;
	margin-left : auto;
    width : 80%;
}
-->

.collapsible-body {
	background-color : #26a69a !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* label color */
   .input-field label {
     color: white !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid white !important;
     box-shadow: 0 1px 0 0 white !important;
   }

/* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid white !important;
     box-shadow: 0 1px 0 0 white !important;
   }
