body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
.card_title{
     text-align: right;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 600px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 600px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 75%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 601px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 601px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 45%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 35%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  text-align: center;
  margin : 0 auto;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#explanation {
    margin-top : -50px;
	margin-bottom : 100px
}

#exp {
    width : 90% !important;
}

#dropdown_1 {
    margin-top: 150px;
    text-align: center;
}

#dropdown_icon_1 {
    font-size: 70px;
    color: white;
}