/* title */
.title{
    position: absolute;
    margin-top: 45px;
    left: 5px;
    z-index: 10;
}
span, span:after {
    font-weight: 900;
    color: rgb(83,109,254);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

span {
    font-size: 1.3em;
    text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
    content: attr(data-shadow-text);
    color: rgb(83,109,254);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
}

.messagebox{
    position: absolute !important;
    margin-top: 15px;
    right: 5px;
    z-index: 10;
}

#messagebox_slide{
    position: absolute;
    right: 0px;
    background: rgb(96, 125, 139);
    width: 40%;
    height: 60%;
    z-index: 100;
    color: rgb(96, 125, 139);
    overflow: auto;
}


/* message tab */


/* candy_map_tab */
#google map
.container-full {
    margin: 0 auto; width: 100%; height:100%;
}
#map {
    width:100%; height:93vh;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, #map {
        width:100%; height:83vh;
    }
}


#Marker
img[src*="test"]{
    padding: 1px;
    border: 1px solid #999;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


/* candy_chat_tab */
#ul_attend{
  text-align: center;
}
#ul_attend li{
  display: inline-block;
}

/* common css */
#toast-container{
    top : 7vh !important;
}




/* チャットレイアウト */
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 8px;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-area-your {
    width: 100%;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 5px 5px;
    margin-left: 15%;
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    width: 50%;
}
.chat-hukidashi .name{
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}
#yourid {
    text-align: right;
}
.chat-hukidashi-your {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 5px 5px;
    border: 1px solid gray;
    border-radius: 10px;
    background: blanchedalmond;
}
.chat-hukidashi-your div{
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}
.chat-attend{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    
}
.chat-attend div{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    background: teal;
    color: white;
}