<!DOCTYPE html>
<html lang="en" ng-app="mapper">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author"      content="Daichi Miyajima">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <title>Guide</title>
    <link rel="canonical" href="http://guide.com" />
    <link rel="shortcut icon" href="">
    <!-- firebase url -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <!-- GeoFire -->
    <script src="https://cdn.firebase.com/libs/geofire/4.1.1/geofire.min.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- Own Css -->
    <link rel="stylesheet" href="../public/css/index/index.css">
    <link rel="stylesheet" href="../public/css/index/rating.css">
    <link rel="stylesheet" href="../public/css/index/include/indexMessage.css">
    <link rel="stylesheet" href="../public/css/index/include/indexPlace.css">
    <link rel="stylesheet" href="../public/css/index/include/indexTravelMode.css">
    <!-- sweet alert-->
    <script src="../public/ext/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/ext/sweetalert/sweetalert.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/bower_components/ngtouchstart/build/ngTouchstart.min.js"></script>
    <script type="text/javascript" src="../public/bower_components/ngtouch/build/ngTouch.min.js"></script>
    
</head>
<body class="">
    <div ng-controller="candyController as main">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" ng-mousemove="resizeStart($event)" ng-touchmove="resizeStart($event)" ng-mouseup="resizeEndMouse($event)" ng-touchend="resizeEnd($event)">
            <!-- Message Include-->
            <div ng-include = "'/views/index/include/indexMessage.htm'"></div>
            <!-- Place Include-->
            <div ng-include = "'/views/index/include/indexPlace.htm'"></div>
            <!-- TravelMode Include-->
            <div ng-include = "'/views/index/include/indexTravelMode.htm'"></div>
            <!-- NavBar -->
            <a class="groupname brand-logo center">{{grouname}}</a>
            <!-- NavBar end -->
            <!-- Geolocation OFF -->
            <div id="geolocationOff" class="firsthide">
                <label>Your location services are unavailable.</label><br/>
                <label>Settings → Privacy → Location Service → Safari WebSites</label>
            </div>
            <!-- Geolocation OFF end-->
            <!-- DirectionTime -->
            <div id="directionTime" class="firsthide">
                <div class="direction">
                    <div id="direction_distance" class="matrix"></div>
                    <div id="direction_duration" class="matrix"></div>
                </div>
                <a class="btn-floating" ng-click="directionDone()"><i class="small material-icons">done</i></a>
            </div>
            <!-- DirectionTime end-->
            
            <!-- Flexible Box -->
            <div class="flex-container">
                <!-- Google Map -->
                <div class="mdl-tabs__panel is-active" id="candy_map_tab">
                    <section class="container-full">
                        <div id="map"></div>
                    </section>
                </div>
                <div class="editor-resizer"></div>
                <div class="flex-box"></div>
            </div>
            
            <!-- Menu button -->
            <div class="fixed-action-btn horizontal click-to-toggle firsthide_lastshow" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating red" id="currentposition" ng-click="currentposition()"><i class="large material-icons">my_location</i></a></li>
                    <li><a class="btn-floating green" id="addlocationbutton" ng-click="addlocationbutton()"><i class="large material-icons">location_on</i></a></li>
                    <li><a class="btn-floating yellow" id="direction" ng-click="direction()"><i class="large material-icons">navigation</i></a></li>
                    <li><a class="btn-floating blue" id="messagelist" ng-click="messageModal()"><i class="large material-icons">comment</i></a></li>
                    <li><a class="btn-floating pink" id="serchplacebutton" ng-click="placeModal()"><i class="large material-icons">search</i></a></li>
                    <li><a class="btn-floating amber" id=""><i class="large material-icons">perm_identity</i></a></li>
                </ul>
            </div>
            <!-- Menu button end-->
        </div>
    </div>
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiBzjnH8tj9PWXBuCremzGg4IwZXl6Mhs&libraries=geometry,places"></script>
    <script src="../public/js/index/globalvariable.js"></script>
    <script src="../public/js/index/service/firebaseService.js"></script>
    <script src="../public/js/index/controller/candyController.js"></script>
    <script src="../public/js/index/controller/messageController.js"></script>
    <script src="../public/js/index/controller/placeController.js"></script>
    <script src="../public/js/index/firebase.js"></script>
    <script src="../public/js/index/googlemap.js"></script>
    <script src="../public/js/index/popup.js"></script>
</body>
</html>
