<div ng-controller="placeSearchController as placeSearch">
    <!-- Place Search -->
    <div id="modal2" class="modal bottom-sheet">
        <div class="searchPlaceTextArea">
            <div id="searchPlaceInputField">
                <input class="input" placeholder="Search Place" type="text" id="search_place" ng-keyup="searchPlace(text)" ng-model="text">
            </div>
        </div>
        <div class="modal-content modalPlace">
            <div>
                <ul class="collapsible popout" data-collapsible="accordion" watch>
                    <li ng-repeat="place in places">
                        <div class="collapsible-header">
                            <img id="placeIcon" src={{place.icon}} style=""></img>
                            {{place.name}}
                        </div>
                        <div class="collapsible-body">
                           {{place.formatted_address}}
                            <ul class="placeUl">
                                <li class="placeIconAcordion"><a class="btn-floating red" ng-click="navigation(place)"><i class="large material-icons">navigation</i></a></li>
                                <li class="placeIconAcordion"><a class="btn-floating green" ng-click="makeMeetUpMarker(place)"><i class="large material-icons">location_on</i></a></li>
                                <li class="placeIconAcordion"><a class="waves-effect waves-light btn-large" ng-click="placeclick(place)">More</a></li>
                            </ul>
                        </div>
                    </li>
                <ul>
            </div>
        </div>
    </div>
    <!-- Place Search end -->
    <!-- Modal Place Detail -->
    <div id="modalPlaceDetail" class="modal modal-fixed-footer">
        <div class="modal-content">
            <img src={{placeDetail.icon}} style="width: 30px;height: 30px;float: left;margin-right: 10px;"></img>
            <h5 style="margin: 0 0 0 0;float: left;margin-right: 10px;">{{placeDetail.name}}</h5>
            <div ng-if="rating !== 'error'">
                <span class={{rating}}></span>
            </div>
            <div ng-if="placeDetail.formatted_phone_number != null">
                <p>
                    <a class="waves-effect waves-light btn" href="tel:{{placeDetail.formatted_phone_number}}"><i class="material-icons left">call</i>Phone</a>
                </p>
            </div>
            <div ng-if="placeDetail.website != null">
                <p>
                    <a target="_blank" class="waves-effect waves-light btn" href={{placeDetail.website}}><i class="material-icons left">cloud</i>WebSite</a>
                </p>
            </div>
            <div ng-if="photos.length !==0">
                <div class="carousel" watch>
                    <a ng-repeat="photo in photos" class="carousel-item" href="">
                        <img class="imagCarousel" src={{photo}}>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="">
                <li class=""><a class="btn-floating red" ng-click="navigation(place)"><i class="large material-icons">navigation</i></a></li>
            </ul>
        </div>
    </div>
    <!-- Modal Place Detail end-->
</div>