<!-- Modal Place Detail -->
<div id="modalPlaceDetail" class="modal modal-fixed-footer">
    <div class="modal-content">
        <img src={{placeDetail.icon}} style="width: 30px;height: 30px;float: left;margin-right: 10px;"></img>
        <h5 style="margin: 0 0 0 0;float: left;margin-right: 10px;">{{placeDetail.name}}</h5>
        <div ng-if="rating !== 'error'">
            <span class={{rating}}></span>
        </div>
        <p><a class="waves-effect waves-light btn" href="tel:{{placeDetail.formatted_phone_number}}"><i class="material-icons left">call</i>Phone</a></p>
        <p><a target="_blank" href={{placeDetail.website}}>{{placeDetail.website}}</a></p>
        <div ng-model="placeDetails.name"></div>
        <div class="carousel" watch>
            <a ng-repeat="photo in photos" class="carousel-item" href="">
                <img class="imagCarousel" src={{photo}}>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <ul class="">
            <li class=""><a class="btn-floating red" ng-click="navigation(place)"><i class="large material-icons">navigation</i></a></li>
        </ul>
    </div>
</div>
<!-- Modal Place Detail end-->