body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
.card_title{
     text-align: right;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 600px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 600px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../img/initial/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 75%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 601px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 601px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../../img/initial/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 45%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../img/initial/NYC0099.jpg');
  }
      .demo-card-wide.mdl-card {
        width: 35%;
        margin: 0 auto;
        top : 100px;
        text-align: center;
    }
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    text-align: center;
    margin : 0 auto;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

#title {
    margin-top : 50px;
    margin-right : auto;
    margin-left : auto;
    width : 85%;
    float : none;
}

.collapsible-body {
	background-color : #26a69a !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* label color */
.input-field label {
    color: gray !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1976d2 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

.navi-category{
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
    color:#444;
    font-weight:bold;
}

.fb_iframe_widget span {
	vertical-align : middle !important;
}
/* nav */
nav{
    height: 30px !important;
    line-height: 30px !important;
    background-color: #bdbdbd !important;
	position : fixed;
}

nav .backScreen{
    float: left;
    font-size: 20px;
    left: 7px;
}

nav .groupname{
    font-size: 20px;
}
nav .button-collapse{
    float: right !important;
    height: 30px !important;
}

nav .button-collapse i{
    height: 30px !important;
    line-height: 30px !important;
    font-size: 26px !important;
}
nav ul{
    width:140px !important;
}

nav ul i{
    height: 26px !important;
}
input{
    font-size: 16px !important;
}
/* nav end */
.groupname{
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
}
.menuContent{
    color: #5a5a5a;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 10px saddlebrown;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 4px 0 rgba(0,0,0,0.12);
}

.menuContent {
    padding: 0 30px;
}
