html {
    -ms-touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    width: 100%;
    height:100%;
    text-align: left;
    position: fixed;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

/* nav */
nav{
    height: 30px !important;
    line-height: 30px !important;
    background-color: #bdbdbd !important;
    box-shadow: 0px 0px 0px 0px;
}

nav .backScreen{
    float: left;
    font-size: 20px;
    left: 7px;
}

nav .groupname{
    font-size: 20px;
}
nav .button-collapse{
    float: right !important;
    height: 30px !important;
}

nav .button-collapse i{
    height: 30px !important;
    line-height: 30px !important;
    font-size: 26px !important;
}
nav ul{
    width:140px !important;
}

nav ul i{
    height: 26px !important;
}
nav ul li:hover{
    background: rgba(86, 161, 255, 1);
    color : white;
}
/* nav end */

.backbutton{
    font-size: 20px;
    width: 50px;
    font-family: sans-serif;
    /* left: 20px; */
    position: fixed;
    text-align: center;
    z-index: 100;
}

.fixed-action-btn.horizontal ul li{
    margin: 8px 8px 0 0 !important;
}

/* prevent copy */
.btn-floating {
    -webkit-user-select: none;
    user-select: none;
}

input{
    font-size: 16px !important;
}
.input{
    font-size: 16px !important;
}

textarea{
    font-size: 16px !important;
    padding: 0px !important;
    overflow-y: scroll !important;
    max-height : 69px !important;
    min-height: 20px !important;
    margin : 0px !important;
    background-color: white !important;
    width: 80% !important;
}


.toast{
    min-height: 30px !important;
}

#toast-container{
    max-height : 0%;
    right :  0px;
    margin-top: 30px;
}

#toast-container .message{
    width : 50%;
    background-color: rgba(39, 0, 255, 0.75);
    float : right;
}

#toast-container .meetup{
    width : 50%;
    background-color: #5c6bc0 ;
    font-size : 14px;
    float : right;
}

#toast-container .attend{
    width : 50%;
    background-color: rgba(0, 255, 137, 0.62);
    font-size : 14px;
    float : right;
}

#toast-container .meetupremove{
    width : 50%;
    background-color: rgba(255, 0, 0, 0.62);
    font-size : 14px;
    float : right;
}

#toast-container .meetupchange{
    width : 50%;
    background-color: rgba(255, 153, 0, 0.62);
    font-size : 14px;
    float : right;
}

span:after {
    content: attr(data-shadow-text);
    color: rgb(83,109,254);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
}

/* Geolocation OFF */
#geolocationOff{
    height : 30px;
    background : rgba(0, 0, 0, 0.44);
    width : 100%;
    z-index : 1;
    position : fixed;
    text-align: center;
}
#geolocationOff label {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.88);
}
/* Geolocation OFF end*/


/* DirectionTime */

#directionTime{
    height : 44px;
    background : rgb(171, 171, 171);
    width : 100%;
    z-index : 1;
    position : fixed;
    text-align: center;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    bottom: 0px;
    -webkit-user-select: none;
    user-select: none;
}
#directionTime .matrix{
    color: #fff;
    font-size: 1.2rem;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-family: cursive;
}
.direction{
    width: 70%;
    height: 44px;
    float: left;
    -webkit-user-select: none;
    user-select: none;
}

#directionTime .btn-floating{
    margin-top : 3px;
    background-color: rgb(171, 171, 171) !important;
}
/* DirectionTime end */

/* GroupName */
.groupname{
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
}
.menuContent{
    color: #5a5a5a;
    margin: 0 auto;
    text-align: center;
    border: 1px dotted rgb(222, 222, 222);
    box-shadow: 10px saddlebrown;
    /*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 4px 0 rgba(0,0,0,0.12);*/
}
/* GroupName end*/

/* candy_map_tab */
.container-full {
    margin: 0 auto; 
    width: 100%;
}

#map {
    margin-top: 1.5px;
    width:100%;
    height:98vh;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, #map {
        width:100%;
        height:90vh;
    }
}


#Marker
img[src*="test"]{
    padding: 1px;
    border: 1px solid #999;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


#ul_attend{
  text-align: center;
}
#ul_attend li{
  display: inline-block;
}


/* common css */
@media (max-width: 767px) {
    #toast-container{
        top : 3px !important;
    }
    
    .flex-container{
        display: flex;
        -webkit-flex-direction: column; /* Safari */
        flex-direction : column;
        flex-shrink: 0;
    }
    .editor-resizer{
        position: relative;
        z-index: 2;
        color: white;
        text-align: center;
        cursor: row-resize;
        border-left: 1px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(0,0,0,0.4);
        background: #343436;
        box-shadow: 0.5px 1px 0.5px 1px rgba(179, 179, 179, 0.56);
        height: 28px;
    }
    .flex-box{
        position: relative;
        background: #fafafa;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        padding-bottom: 90px;
    }
    .messageInputArea{
        position: fixed;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid black;
        box-shadow: 3px 3px 3px 3px #fafafa;
        background: #b7b7b7;
        z-index: 13;
    }
    .messageInputAreaDiv{
        padding: 8px;
        background: #b7b7b7;
        display: inline-flex;
        width: 100%;
    }
    #messageInputField{
        display: inline-block;
        width: 88%;
    }
    
    #messageInputField textarea{
        padding: 0.6rem 0;
        border-bottom: 1px solid #212121;
    }
    
    #sendbutton{
        width: 60px;
        height: 23px;
        font-size: 13px;
        padding: 0px;
        line-height: 23px;
        float: right;
        left: 5px;
    }
}
@media (min-width: 768px) {
    #toast-container{
        top : 3px !important;
        width : 50%;
        right : 0px;
    }
    .editor-resizer{
        position: fixed;
        width : 400px;
        right : 0px;
        z-index: 2;
        color: white;
        text-align: center;
        cursor: row-resize;
        border-left: 1px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(0,0,0,0.4);
        background: #343436;
    }
    .flex-box{
        position: fixed;
        border-left: 1px solid black;
        right : 0px;
        margin-top: 20px;
        width: 400px;
        background: #fafafa;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        padding-bottom: 90px;
    }
    .messageInputArea{
        position: fixed;
        right : 0px;
        bottom: 0px;
        width: 400px;
        border-top: 1px solid black;
        box-shadow: 3px 3px 3px 3px #fafafa;
        background: #b7b7b7;
    }
    .messageInputAreaDiv{
        padding: 8px;
        background: #b7b7b7;
        display: inline-flex;
        width: 100%;
    }
    #messageInputField{
        display: inline-block;
        width: 88%;
    }
    nav a.button-collapse {
        display: flex !important;
    }
}
