/* message tab-start */
.messageall{
    margin-top : 15px;
}
#toast-container-chat > div {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: black;
    opacity: 0.8;
}

#toast-container-chat * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container-chat .span {
    float: left;
    font-size: 10px;
    color: black;
    font-family: fantasy;
    margin-left : 3px;
    margin-top: 6px;
}
#toast-container-chat .yourspan {
    float: right;
    font-size: 10px;
    color: black;
    font-family: fantasy;
    margin-left : 3px;
    margin-top: 6px;
    margin-right: 5px;
}
.messagelist{
    display: block; 
    text-align: left;
    float: left;
    width: 80%;
    margin-bottom: 7px !important;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1 ;
    padding: 2px;
}
.toast-yourname{
    padding: 4px;
    border-bottom: 1px solid white;
    margin-top: -15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.toast-name{
    padding: 4px;
    border-bottom: 1px solid white;
    margin-top: -15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.toast-your{
    float:right;
    background: rgb(0, 251, 114);
}
.toast-info{
}
.toast-success{
    background : rgb(0, 90, 255);
    color: white !important;
}
.toast-error{
    background : rgba(255, 0, 0, 0.87);
    color: white !important;
}
/* message tab-end */
