<link rel="stylesheet" href="../public/css/top/top.css">
<script>
    $('.collapsible').collapsible({accordion: false});
    $('.collapsible').collapsible();
    $(".button-collapse").sideNav();
    $('.firsthide').hide();
</script>
<div class="topscreen" ng-controller="candyTopController as top" style="overflow: scroll;height: 100% !important;">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper white ">
                    <a class="grey-text groupname">Where are you?</a>
                    <a data-activates="menubar" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
                    <ul class="side-nav collection" id="menubar">
                    <li class="collection-item avatar userinfo">
                        <div ng-if="userInfo.photoURL">
                            <img class="circle" src={{userInfo.photoURL}} style="width: 70px;height: 70px;"></img>
                        </div>
                        <div ng-if="!userInfo.photoURL">
                            <i class="material-icons circle gray" style="width: 70px;height: 70px;line-height: 70px;font-size: 30px;">perm_identity</i>
                        </div>
                        <div ng-if="userInfo.displayname">
                            <span class="title ng-binding">{{userInfo.displayname}}</span>
                        </div>
                        <div ng-if="!userInfo.displayname">
                            <span class="title ng-binding" style="padding-top: 28px;font-size: 15px;">NO   NAME</span>
                        </div>
                    </li>
                    <li class="collection-item avatar menulist" ng-click="login()">
                        <div class="menuContent">
                            <i class="material-icons circle">perm_identity</i>
                            <span>Login</span>
                        </div>
                    </li>
                        <!--<div ng-if="userAuth.isAnonymous === true">-->
                            <li class="collection-item avatar menulist" ng-click="facebooklogin()">
                                <div class="menuContent">
                                    <i class="material-icons circle">perm_identity</i>
                                    <span>FacebookLogin</span>
                                </div>
                            </li>
                        <!--</div>-->
                        
                        <!--
                        <li>
                            <div class="menuContent">
                                <a class="github-button" href="https://github.com/DaichiMiyajima/candy_guide_web" data-icon="octicon-star" data-style="mega" data-count-href="/DaichiMiyajima/candy_guide_web/stargazers" data-count-api="/repos/DaichiMiyajima/candy_guide_web#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star DaichiMiyajima/candy_guide_web on GitHub">Star
                                </a>
                                <script async defer src="https://buttons.github.io/buttons.js">
                                </script>
                            </div>
                        </li>
                        <li>
                            <div class="menuContent">
                                <a style="vertical-align:middle;" href="https://twitter.com/share" class="twitter-share-button" data-url="https://bruwbird.com" data-text="Share your location!" data-size="large">Tweet
                                </a>
                                <script>
                                !function(d,s,id){
                                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                                    if(!d.getElementById(id)){js=d.createElement(s);
                                        js.id=id;
                                        js.src=p+'://platform.twitter.com/widgets.js';
                                        fjs.parentNode.insertBefore(js,fjs);
                                    }
                                 }(document, 'script', 'twitter-wjs');
                                </script>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card" style="background-color:rgba(209, 209, 209, 0.31);padding: 1px;margin: 0.5rem 0 1rem 0;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="../public/img/top/Where_are_you--logo.png" style="width:60%;margin: 0 auto;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Candy Guide<i class="material-icons right">more_vert</i></span>
                        <div class="input-field">
                            <input id="groupname" type="text" class="validate" ng-model="inputgroupname">
                            <label for="groupnamee" style="color: #000000 !important;">Group Name !  Share the group URL with friends !</label>
                        </div>
                        <div style="text-align:right; margin-bottom: 20px;">
                            <a class="waves-effect waves-light btn blue darken-2" id="create_url" ng-click="intomap(inputgroupname)"><i class="material-icons right">send</i>Create Group</a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Candy Guide<i class="material-icons right">close</i></span>
                        <p>You can share your location with friends in this web site. Firstly you create the group and share your group URL with mail or something.</p>
                        <p>And then your friends can join the group room.</p>
                    </div>
                </div>
                
                
            </div>
            <div class="col s12 m6 l6">
                <!-- GLOBAL -->
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../public/img/global.png" style="max-width: 200px;max-height: 200px;margin: 0 auto;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">GLOBAL<i class="material-icons right">more_vert</i></span>
                        <p><a ng-click="gotomap('global')">This is GLOBAL ROOM.</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">GLOBAL<i class="material-icons right">close</i></span>
                        <p>Share your location and message with a lot of people. This room has a lot of people. We enjoy talk.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- USER ROOM -->
            <div ng-repeat="userroom in userrooms">
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content" style = "padding: 0px;">
                                <table style="table-layout: fixed;">
                                    <tr>
                                        <td style="width: 20%;">
                                            <div ng-if="userroom.photoURL && userroom.photoURL.length > 0" style="float: left;">
                                                <img class="circle" src={{userroom.photoURL}} style="width: 40px;height: 40px;float: left;box-shadow: 0 0 12px #999999;"></img>
                                            </div>
                                            <div ng-if="!userroom.photoURL || !userroom.photoURL.length > 0" style="float: left;">
                                                <i class="material-icons circle gray" style="width: 40px;height: 40px;padding: 9px;background: rgba(255, 212, 92, 0.73);color: white;">assignment_ind</i>
                                            </div>
                                        </td>
                                        <td style="width: 40%;padding-left:5px;padding:0px">
                                            <ul>
                                            <li><a style="width: 40%;" ng-click="gotomap(userroom.$id)">{{userroom.name}}</a></li>
                                            <li><label style="font-size: 1rem;color: #ff0000;" style="width: 25%;">{{userroom.userNumber}}</label> people join</li>
                                            </ul>
                                        </td>
                                        <td style="width: 40%;padding:0px;">
                                            <div ng-if="userroom.share === 'on'">
                                                <a class="waves-effect waves-light btn" style="padding: 0px;height: 100%;line-height: 70px;width: 50%;float: left;">While</a>
                                                <a class="waves-effect waves-light btn disabled" style="padding: 0px;height: 100%;line-height: 70px;width: 50%;float: left;" ng-click="changeShare(userroom,'off')">Never</a>
                                            </div>
                                            <div ng-if="userroom.share === 'off'">
                                                <a class="waves-effect waves-light btn disabled" style="padding: 0px;height: 100%;line-height: 70px;width: 50%;float: left;" ng-click="changeShare(userroom,'on')">While</a>
                                                <a class="waves-effect waves-light btn" style="padding: 0px;height: 100%;line-height: 70px;width: 50%;float: left;">Never</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>